In [1]:
import pandas as pd
import numpy as np

In [2]:
lat_lon = pd.read_csv('https://raw.githubusercontent.com/kelvins/US-Cities-Database/main/csv/us_cities.csv')

In [5]:
lat_lon.to_csv('lat_lon.csv', index=False)

In [3]:
print(lat_lon.shape)
lat_lon.head()

(29880, 7)

   ID STATE_CODE STATE_NAME      CITY          COUNTY   LATITUDE   LONGITUDE
0   1         AK     Alaska      Adak  Aleutians West  55.999722 -161.207778
1   2         AK     Alaska  Akiachak          Bethel  60.891854 -161.392330
2   3         AK     Alaska     Akiak          Bethel  60.890632 -161.199325
3   4         AK     Alaska    Akutan  Aleutians East  54.143012 -165.785368
4   5         AK     Alaska  Alakanuk    Wade Hampton  62.746967 -164.602280

In [4]:
import os
path = os.getcwd()

In [ ]:
import

In [ ]:
nn_model =