In [1]:
import pandas as pd

In [2]:
!pwd

/home/primefactorx01/lambda/labs/labspt15-cityspire-g-ds

In [3]:
from pathlib import Path

In [6]:
path = Path('notebooks/labor_statistics/bls.csv')

In [25]:
dataf = pd.read_csv(path)

In [49]:
path = Path('notebooks/labor_statistics/bls.csv')
dataf = pd.read_csv(path)

def start_pipe(df):
    return df.copy()

def split_combo_states(df):
    working_df = df
    working_df.loc[dataf['occ_title'].str.contains('All Occupations') & dataf['state'].str.contains('-'), 'state'] = working_df.loc[dataf['occ_title'].str.contains('All Occupations') & dataf['state'].str.contains('-'), 'state'].str.split('-')
    working_df = working_df.loc[dataf['occ_title'].str.contains('All Occupations') & dataf['state']].explode('state')
    return working_df

def split_combo_cities(df):
    working_df = df
    working_df.loc[dataf['occ_title'].str.contains('All Occupations') & dataf['city'].str.contains('-'), 'city'] = working_df.loc[dataf['occ_title'].str.contains('All Occupations') & dataf['city'].str.contains('-'), 'city'].str.split('-')
    working_df = working_df.loc[dataf['occ_title'].str.contains('All Occupations') & dataf['city']].explode('city')
    return working_df

write_path = Path("notebooks/labor_statistics/split_labor.csv")
dataf.pipe(start_pipe).pipe(split_combo_states).pipe(split_combo_cities).to_csv(write_path)

In [42]:
working_df = dataf.pipe(start_pipe)
working_df.loc[dataf['occ_title'].str.contains('All Occupations') & dataf['state'].str.contains('-'), 'state'] = working_df.loc[dataf['occ_title'].str.contains('All Occupations') & dataf['state'].str.contains('-'), 'state'].str.split('-')
working_df.loc[dataf['occ_title'].str.contains('All Occupations') & dataf['state']].explode('state')

,Unnamed: 0,state,city,occ_title,jobs_1000,loc_quotient,avg_hourly_salary,avg_annual_salary
0,0,TX,Abilene,All Occupations,1000.0,1.0,20.08,41760.0
286,286,PR,Aguadilla-Isabela,All Occupations,1000.0,1.0,12.48,25960.0
467,467,OH,Akron,All Occupations,1000.0,1.0,23.75,49400.0
979,979,GA,Albany,All Occupations,1000.0,1.0,20.50,42640.0
1217,1217,OR,Albany,All Occupations,1000.0,1.0,22.80,47410.0
...,...,...,...,...,...,...,...,...
141113,141113,MA,Springfield,All Occupations,1000.0,1.0,25.74,53550.0
141113,141113,CT,Springfield,All Occupations,1000.0,1.0,25.74,53550.0
141642,141642,CT,Waterbury,All Occupations,1000.0,1.0,25.65,53350.0
141921,141921,MA,Worcester,All Occupations,1000.0,1.0,26.98,56110.0
141921,141921,CT,Worcester,All Occupations,1000.0,1.0,26.98,56110.0